.cls-1 {
    fill: #efcc00;
}

.cls-2 {
    fill: none;
    stroke: #efcc00;
    stroke-linecap: round;
    stroke-miterlimit: 10;
    stroke-width: 3px;
}

.sunIcon{
    margin: 2px;
    position: absolute;
}

.moonIcon{
    margin: 2px;
    margin-left: -20%;
    position: absolute;
}

.mainBoxForSwitch {
    position: absolute;
    left: 88%;
    border: 0;
    width: 7%;
    text-align: center;
    padding: 4px;
    padding-left: 45px;
}

.subBoxForSwitch {
    border: 1px solid black;
    height: 25px;
    width: 46px;
    border-radius: 20px;
    background-color: #484848;
}

.circleRight {
    font-size: 26px;
    position: absolute;
    top: 4px;
    left: 66px;
    transition: left 0.3s;
}

.circleLeft {
    font-size: 26px;
    position: absolute;
    top: 4px;
    left: 44px;
    transition: left 0.3s;
}

.fa-bars {
    padding-left: 40%;
}

.blankDiv2 {
    height: 50px;
    width: 100%;
}

.darkTheme {
    background-color: black;
}

.lightTheme {
    background-color: white;
}

.search {
    width: 40%;
    height: 41px;
    margin-left: 27%;
    padding-top: 0px;
    outline: none;
    border-radius: 22px;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
}

.searchDark {
    width: 40%;
    height: 41px;
    margin-left: 27%;
    padding-top: 0px;
    outline: none;
    border-radius: 22px;
    border: 1px solid #242526;
    background-color: #242526;
}

.searchIcon {
    position: absolute;
    left: 480px;
    top: 36%;
    color: rgb(117, 109, 109)
}

.styleInputSearchLight {
    width: 90%;
    outline: none;
    background-color: #f1f1f1;
    color: black;
    padding: 5px;
    padding-top: 7px;
    margin-left: 7%;
    border: 0;
}

.styleInputSearchDark {
    width: 90%;
    outline: none;
    background-color: #242526;
    color: white;
    padding: 5px;
    padding-top: 7px;
    margin-left: 7%;
    border: 0;
}

.currentTab {
    position: absolute;
    left: 5%;
    margin-top: 3px;
}

.borderSet {
    position: absolute;
    /* left:1420px; */
    left: 93%;
    top: 9px;
    border: 2px solid white;
    width: 39px;
    margin-right: 6%;
    padding: 5px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

.borderSet3 {
    position: absolute;
    /* left:1420px; */
    left: 55%;
    top: 9px;
    border: 2px solid white;
    width: 40%;
    margin-right: 6%;
    padding: 5px;
    border-radius: 16px;
}

.borderSet1 {
    position: absolute;
    /* left:1470px; */
    left: 96%;
    top: 12px;
    /* border: 2px solid white; */
    width: 39px;
    margin-right: 6%;
    /* padding: 5px; */
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

.borderSet2 {
    position: absolute;
    text-align: center;
    /* left:1470px; */
    left: 96%;
    top: 10px;
    border: 2px solid rgb(255, 186, 74);
    background-color: rgb(255, 186, 74);
    width: 39px;
    margin-right: 6%;
    padding: 5px;
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
}

.profileDivShow {
    z-index: 1;
    position: fixed;
    text-align: center;
    /* left:1470px; */
    left: 79%;
    top: 10px;
    margin-right: 6%;
    margin-top: 45px;
    padding: 5px;
    /* border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%; */
    background-color: rgb(255, 255, 255);
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0px rgb(136, 136, 136);
}

.modalForProfile {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.22); */
}

.modalForVericalNavbar {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.22);
}

.iconUnderProfile {
    /* width:10px; */
    background-color: rgb(255, 186, 74);
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    margin: 20px 90px;
    padding: 30px;
}

.signOutBtn {
    background-color: white;
    margin: 13px 0;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 3px;
    padding: 7px 30px;
}

.addLabelModal {
    border: 0;
    border-bottom: 1px solid rgb(208, 208, 208);
    outline: none;
}

#withClick {
    height: 30px;
}

#withLabel {
    display: unset;
    height: 30px;
}

#withDelete {
    display: none;
    height: 30px;
    /* transition: opacity 0.4s; */
    /* padding-right:10px; */
}

#labels:hover #withDelete {

    display: unset
        /* transition: opacity 0.4s; */
}

#labels:hover #withLabel {

    display: none
        /* transition: opacity 0.4s; */
}

.borderNone {
    border: 0;
    display: none;
    outline: none;
    margin-top: -4px;
}

.withBorder {
    border: 0;
    border-bottom: 1px solid rgb(136, 136, 136, 0.42);
    outline: none;
    display: unset;
    margin-top: -4px;
}

.smallTag {
    display: unset;
    font-size: 16px;
    margin-top: 0.5px;
    margin-left: 2px;
}

.smallTagNone {
    display: none;
}

.fa-user-circle {
    color: #9b9b9b;
    font-size: 35px;
}

.setIcon {
    margin-left: -5px;
}

.navbarSmallDisplayNone {
    display: none;
}

.navbarSmallDisplayVisible {
    display: unset;
}

/* -------------------------------vertical navbar------------------------- */

.vertical-ul {
    z-index: 1;
    list-style-type: none;
    width: 4%;
    height: 100%;
    display: block;
    position: fixed;
    /* background-color: rgb(156, 156, 156); */
    padding: 0px;
    margin: 0;
    padding-top: 4px;
    margin-top: 8px;
    overflow: hidden;
    transition: width 0.3s;
}

.vertical-ul li a {
    text-decoration: none;
    color: rgb(117, 109, 109);
    font-weight: 700;
    padding: 10px 20px;
    display: block;
}

.vertical-ul li a:hover {
    background-color: rgb(197, 197, 197);
    color: rgb(117, 109, 109);
}

.vertical-ul li.active {
    border: 0;
    background-color: rgb(255, 186, 74);
    /* border-left:7px solid rgb(95, 8, 8); */
    color: #433d3d;
}

.vertical-ul li a.active {
    border: 0;
    background-color: rgb(255, 186, 74);
    /* border-left:7px solid rgb(95, 8, 8); */
    color: black;
}

/* -------------------------------end vertical navbar------------------------- */

/* -------------------------------vertical navbar------------------------- */

.vertical-ul1 {
    z-index: 1;
    list-style-type: none;
    width: 14%;
    height: 100%;
    display: block;
    position: fixed;
    /* background-color: rgb(221, 218, 218); */
    padding: 0px;
    padding-top: 4px;
    margin-top: 8px;
    overflow: hidden;
    transition: width 0.3s;
}

.vertical-ul1 li a {
    text-decoration: none;
    color: rgb(117, 109, 109);
    font-weight: 700;
    padding: 10px 20px;
    display: block;
}

.vertical-ul1 li a:hover {
    background-color: rgb(233, 233, 233);
    color: rgb(117, 109, 109);
}

.vertical-ul1 li.active {
    border: 0;
    background-color: rgb(255, 186, 74);
    /* border-left:7px solid rgb(95, 8, 8); */
    color: black;
}

.vertical-ul1 li a.active {
    border: 0;
    background-color: rgb(255, 186, 74);
    /* border-left:7px solid rgb(95, 8, 8); */
    color: black;
}

/* -------------------------------end vertical navbar------------------------- */
.marginRight {
    margin-right: 20%;
}

.marginRightIcon {
    margin-right: 24%;
}

.marginRightAddIcon {
    margin-right: 10%;
    padding: 0px 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: rgb(117, 109, 109);
}

@media(max-width:500px) {
    .vertical-ul {
        z-index: 1;
        list-style-type: none;
        width: 0%;
        height: 100%;
        display: block;
        /* opacity: 0; */
        position: fixed;
        padding: 0px;
        margin: 0;
        padding-top: 0;
        margin-top: -19%;
        overflow: hidden;
        transition: width 0.4s;
    }

    .vertical-ul1 {
        z-index: 1;
        list-style-type: none;
        width: 60%;
        height: 100%;
        display: block;
        position: fixed;
        padding: 0px;
        margin: 0;
        padding-top: 0;
        margin-top: -19%;
        overflow: hidden;
        transition: width 0.4s;
    }
}

@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 55px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed~.navbar-collapse {
        transition: left 500ms ease-in-out;
    }

    .borderSet {
        position: static;
        border: 2px solid white;
        width: 39px;
        margin-right: -52%;
        padding: 5px;
        padding-left: 7px;
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }

    .borderSet1 {
        position: static;
        /* border: 2px solid white; */
        width: 39px;
        margin-right: 6%;
        padding: 5px;
        padding-left: 7px;
        /* border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%; */
    }

    .borderSet2 {
        position: static;
        text-align: center;
        /* left:1470px; */
        left: 96%;
        top: 10px;
        border: 2px solid rgb(255, 186, 74);
        background-color: rgb(255, 186, 74);
        width: 39px;
        margin-right: 6%;
        padding: 5px;
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }

    .profileDivShow {
        left: 20%;
    }

    .profileDivHide {
        left: 20%;
    }

    .search {
        width: 87%;
        height: 40px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 6%;
        padding-top: 0px;
        border: 1px solid #f1f1f1;
        background-color: #f1f1f1;
    }

    .searchDark {
        width: 87%;
        height: 40px;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 6%;
        padding-top: 0px;
        border: 1px solid #242526;
        background-color: #242526;
    }

    .searchIcon {
        left: 10%;
        top: 102px;
    }

    .styleInputSearchLight {
        width: 80%;
        margin-left: 11%;
    }

    .styleInputSearchDark {
        width: 80%;
        outline: none;
        background-color: #242526;
        color: white;
        padding: 5px;
        padding-top: 7px;
        margin-left: 11%;
        border: 0;
    }

    .marginForNavbar {
        margin: 0;
        padding: 10px;
        transition: margin-left 0.4s;
    }

    .marginForNavbarBefore {
        margin: 0;
        padding: 10px;
        transition: margin-left 0.4s;
    }

    .currentTab {
        margin-top: 3px;
        left: 17%;
    }
    .blankDiv2 {
        height: 10px;
        width: 100%;
    }
    .blankDiv3 {
        height: 90px;
        width: 100%;
    }
    .mainBoxForSwitch {
        left: 58%;
    } 
    .moonIcon{
        margin-left: -41%;
    }   
}